
body{
  background-image: url('https://bs-uploads.toptal.io/blackfish-uploads/components/blog_post_page/4088903/cover_image/retina_1708x683/cover-spring-boot-oauth2-jwt-rest-protection-eaaa4ff2ff84c10683563e90840bb436.png');
  background-size: cover;
  background-position: center;
  color: aliceblue;
  height: 100vh;
}